
@{
    ViewBag.Title = "HetLich";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

<h2 style="text-align:center; margin-top:50px; margin-bottom:50px">Tạm thời Bác sĩ này không có lịch rảnh. Mong bạn trở lại sau.</h2>

