
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />

<center>
    <h2>Trang quản trị hệ thống quản lý hồ sơ bệnh án</h2>
    <img src="~/Public/images/Health-Care-Logo-1.jpg" class="img-fluid" />
</center>

